<!DOCTYPE html>
<html>
  <head>
    <title>RolloutUI</title>
    <link href='//fonts.googleapis.com/css?family=Ultra' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "rollout_ui/application" %>
    <%= csrf_meta_tags %>
    <% if (defined?(Rails) && Rails.env.production?) || ENV['RACK_ENV'].to_s.downcase == 'production' -%>
    <style type="text/css">
      body {
        background: #700f00 url(/assets/rollout_ui/red_brick_wall.png);
      }
    </style>
    <% end -%>
  </head>

  <body>
    <div id="container">
      <h1><%= image_tag "rollout_ui/rollout.png", :alt => "Rollout" %></h1>
      <%= yield %>
    </div>

    <div id="footer">
      <p>Powered by RolloutUi v<%= RolloutUi::Version %></p>
    </div>
  </body>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <%= javascript_include_tag "rollout_ui/application" %>

  <script type="text/javascript">
    $(function() {
      <%= yield :onready %>
    });
  </script>
</html>
