<h2><%= feature.name %></h2>

<div class="col">
<form accept-charset="UTF-8" action="<%= url_path("#{feature.name}/update") %>" class="percentage_form" data-remote="true" method="post">
    <label>Percentage</label>
    <select class="percentage" name="percentage">
      <% 101.times do |i| %>
        <option value="<%= i %>"<%= " selected='selected'" if feature.percentage == i.to_s %>><%= i %>%</option>
      <% end %>
    </select>
    <input type="submit" value="Save" />
  </form>
</div>

<div class="col">
  <form accept-charset="UTF-8" action="<%= url_path("#{feature.name}/update") %>" class="groups_form" data-remote="true" method="post">
    <label>Groups</label>
    <select id="<%= feature.name %>_groups" class="groups" name="groups[]" multiple="multiple" data-placeholder="Choose a group">
      <% @wrapper.groups.each do |group| %>
        <option<%= " selected='selected'" if feature.groups.include?(group) %>><%= group %></option>
      <% end %>
    </select>
    <input type="hidden" name="groups[]" value="" />
    <input type="submit" value="Save" />
  </form>
</div>

<div class="col">
  <form accept-charset="UTF-8" action="<%= url_path("#{feature.name}/update") %>" class="users_form" data-remote="true" method="post">
    <label>Add User ID</label>
    <input class="users" type="text" name="users[]" value="<%= feature.user_ids.join(",") %>" data-placeholder="Enter User ID" />
    <input type="submit" value="Save" />
  </form>
</div>
