<h3><%= feature %></h3>

<form action="<%= url_path("update") %>" method="post">
  <input type="hidden" name="feature" value="<%= feature %>" />

  <select name="percentage">
    <% 101.times do |i| %>
      <option<%= " selected='selected'" if RolloutUI.redis.get("feature:#{feature}:percentage").to_i == i %>><%= i %></option>
    <% end %>
  </select>%

  <select name="groups[]" multiple="multiple">
    <option value="">Select a group</option>
    <% RolloutUI::Group.all.each do |group| %>
      <option<%= " selected='selected'" if RolloutUI.redis.sismember("feature:#{feature}:groups", group) %>><%= group %></option>
    <% end %>
  </select>

  <% (RolloutUI.redis.smembers("feature:#{feature}:users") || []).each do |user| %>
    <input type="text" name="users[]" value="<%= user %>" />
  <% end %>

  <button class="add_user">Add User ID</button>

  <input type="submit" value="Save" />
</form>
